
# JMeter result files
jmeter/
jmeter.log

# Go build artifacts
dist/
cover.out
coverage.html
gots
gots.exe

# Environment files
.env

# DB files
*.db
*.db-shm
*.db-wal

# Node.js dependencies
webapp/node_modules/
webapp/dist/

# Generated API client files
webapp/src/apiclient/

*.pid
